<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comtrol_temperatura"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>   
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-sdk tools:overrideLibrary="io.github.edufolly.flutterbluetoothserial"/>
    
</manifest>
